.quiz-container{
    padding: 15px;
    .title{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .add-new{
        legend{
            font-size: 14px;
        }
    }
    table{
        padding: 15px;
    }
    .list-detail{}
}