.admin-container{
    display: flex;
    .admin-sidebar{
        position: fixed;
        width: 270px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000; 
    }
    .admin-content{
        margin-left: 270px; // Bỏ lề trái để nội dung chính không bị che khuất bởi sidebar
        flex: 1; // Đảm bảo phần nội dung chính chiếm phần còn lại của không gian
        display: flex;
        flex-direction: column;
        width: calc(100% - 270px); // Tính toán chiều rộng của phần nội dung chính
        .admin-header{
            height: 60px;
            border: 1px solid greenyellow;
        }
        .admin-main{
            height: auto;
        }
    }

    .admin-sidebar.collapsed {
        width: 30px; /* Kích thước khi thu gọn */
    }
    .admin-sidebar.collapsed + .admin-content {
        margin-left: 30px; /* Khoảng cách khi sidebar thu gọn */
        width: calc(100% - 30px); /* Chiều rộng khi sidebar thu gọn */
    }
}